/* Add mobile styles for the component here.  */
.fa-brands {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
}
.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
}
.label { 
    height: 100%;
 }
 .info-message {
     padding: auto;
     margin: auto;
 }
 .my-class {
    color: gray;
}

:host-context(.ns-dark) .my-class {
    color: white;
}
