<ActionBar class="action-bar">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="goBack()">
    </NavigationButton>
    <Label class="action-bar-title" text="Manage Plants"></Label>
</ActionBar>
<GridLayout columns="*,200,*" rows="100,*" width="100%" height="100%">
    <RadListView row="0" rowSpan="2" col="0" colspan="3" #listView [items]="plantList" pullToRefresh="true"
        (pullToRefreshInitiated)="onPullToRefreshInitiated($event)">
        <ng-template tkListItemTemplate let-plant="item" let-i="index">
            <GridLayout rows="*" columns="70,10,80,10,*,100" height="70">
                <Image *ngIf="plant.localImg" col="0" [src]="plant.localImg" loadMode="async" height="70"
                    stretch="aspectFill">
                </Image>
                <Label col="2" [text]="plant.name" class="h3"></Label>
                <FlexboxLayout class="p-t-20" col="4" alignItems="flex-start" justifyContent="flex-start"
                    flexWrap="wrap" orientation="horizontal">
                    <Label *ngFor="let prop of plant.properties" class="label" textAlignment="left"
                        text="{{prop}}"></Label>
                </FlexboxLayout>
                <Button col="5" *ngIf="hasPlantObj(plant.imageURL) === false" isEnabled="{{!timeout}}"
                    class="-primary -rounded-lg fas add-button" (tap)="onCheckedChange(plant.imageURL)">
                    <FormattedString>
                        <Span text="&#xf067;" fontAttributes="Bold"></Span>
                    </FormattedString>
                </Button>
                <Button col="5" *ngIf="hasPlantObj(plant.imageURL) === true" isEnabled="{{!timeout}}"
                    class="-secondary -rounded-lg fas add-button" (tap)="onCheckedChange(plant.imageURL)">
                    <FormattedString>
                        <Span text="&#xf2ed;" fontAttributes="Bold"></Span>
                    </FormattedString>
                </Button>
            </GridLayout>
        </ng-template>
    </RadListView>
    <!-- <GridLayout *ngIf="isEmpty()" row="1" col="1" class="info-message">
        <Label class="my-class h1" text="Pull to refresh">
        </Label>
    </GridLayout> -->
</GridLayout>