<ActionBar class="action-bar">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="goBack()">
    </NavigationButton>
    <ActionItem icon="font://&#xf021;" class="fas" (tap)="sync()"></ActionItem>
    <Label class="action-bar-title" text="Manage Sessions"></Label>
</ActionBar>
<GridLayout columns="*" rows="*" width="100%" height="100%">
    <RadListView row="0" #listView [items]="sessionList" pullToRefresh="true"
        (pullToRefreshInitiated)="onPullToRefreshInitiated($event)">
        <ng-template tkListItemTemplate let-session="item" let-i="index">
            <GridLayout rows="*" columns="100,100,*,50,100" height="70">
                <Button col="0" class="-primary -rounded-lg fas add-button" (tap)="start(session)">
                    <FormattedString>
                        <Span text="&#xf04b;" fontAttributes="Bold"></Span>
                    </FormattedString>
                </Button>
                <Label col="1" text="{{session.name}}" class="h3"></Label>
                <Label col="2" text="{{session.date | date}}"></Label>
                <Label col="3" class="fas">
                    <FormattedString>
                        <Span *ngIf="session.inCloud === true" text="&#xf0c2;" fontAttributes="Bold"></Span>
                        <Span *ngIf="session.inCloud !== true" text="&#xf071;" fontAttributes="Bold"></Span>
                    </FormattedString>
                </Label>
                <Button col="4" class="-primary -rounded-lg fas add-button" (tap)="del(session)">
                    <FormattedString>
                        <Span text="&#xf2ed;" fontAttributes="Bold"></Span>
                    </FormattedString>
                </Button>
            </GridLayout>
        </ng-template>
    </RadListView>
</GridLayout>