<ActionBar class="action-bar">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <GridLayout columns="auto,*,auto" ios:padding="0 10" height="100%" width="100%">
        <!-- <app-navbar-slider-action (tap)="openDrawer()" #actionButton></app-navbar-slider-action> -->
        <Label col="1" text="AR-Planting" class="action-bar-label"></Label>
    </GridLayout>
</ActionBar>

<StackLayout class="page page-content main-page">
    <Button isEnabled="{{isEnabled}}" text="New Session" [nsRouterLink]="['ar']" pageTransition="slide"
        clearHistory="false" class="-primary"></Button>
    <Button isEnabled="{{isEnabled}}" text="Manage Sessions" [nsRouterLink]="['session']" pageTransition="slide"
        clearHistory="false" class="-primary"></Button>
    <Button text="Manage Plants" [nsRouterLink]="['picker']" pageTransition="slide" clearHistory="false"
        class="-primary"></Button>
    <Button *ngIf="!isEnabled" text="Allow Geolocation" class="-primary" (tap)="askGeoLocation()"></Button>
</StackLayout>