<GridLayout class="pickerview" columns="*,110" rows="50,50,*" height="100%">

    <SearchBar row="1" col="0" class="search-bar" hint="Enter search term here ..." [text]="searchPhrase"
        (textChange)="onTextChanged($event)" (clear)="onClear($event)" (submit)="onSubmit($event)">
    </SearchBar>
    <Button row="1" col="1" text="Exit" class="-primary exit-button" (tap)="onClose(null)"></Button>

    <ScrollView row="3" col="0" colspan="2">
        <RadListView *ngIf="showPlants" marginRight="-2" [items]="showPlants" height="100%">
            <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" spanCount="2"></ListViewGridLayout>
            <ng-template tkListItemTemplate let-plant="item" let-i="index">
                <StackLayout>
                    <Image row="0" col="0" [src]="plant.localImg" loadMode="async" (tap)="onClose(plant)"
                        stretch="aspectFit"></Image>
                </StackLayout>
            </ng-template>
        </RadListView>
    </ScrollView>
</GridLayout>