<!-- <ActionBar class="action-bar">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <Label class="action-bar-title" text="AR Session"></Label>
</ActionBar> -->
<GridLayout columns="*,*,*" rows="100,*,100" width="100%" height="100%">
    <ContentView row="0" col="0" colspan="3" rowspan="3">
        <AR trackingMode="WORLD" detectPlanes="true" [planeMaterial]="planeMaterial" (planeTapped)="planeTapped($event)"
            (arLoaded)="arLoaded($event)" (planeDetected)="planeDetected($event)" planeDetection="HORIZONTAL">
        </AR>
    </ContentView>
    <Button row="0" col="1" text="Clean" class="-warn -rounded-lg fas back-button" (tap)="goBack()">
        <FormattedString class="">
            <Span text="Back" fontAttributes="Bold"></Span>
        </FormattedString>
    </Button>
    <GridLayout *ngIf="selectedModel" row="0" col="3" (tap)="addPlant()">
        <Label class="img-picker" textWrap="true"></Label>
        <Image *ngIf="selectedModel.localImg" class="selected-image" [src]="selectedModel.localImg" loadMode="async"
            stretch="aspectFit"></Image>
    </GridLayout>
    <GridLayout *ngIf="selectedPlantImg !== null" row="0" col="0">
        <Label class="select-picker" textWrap="true"></Label>
        <Image *ngIf="selectedPlantImg" class="selected-plant-image" [src]="selectedPlantImg" loadMode="async"
            stretch="aspectFit"></Image>
    </GridLayout>
    <Button row="2" col="0" class="-rounded-lg fas save-button" (tap)="save()">
        <FormattedString>
            <Span text="&#xf0c7;" fontAttributes="Bold"></Span>
        </FormattedString>
    </Button>
    <Button row="2" col="1" text="DelMode" class="-warn -rounded-lg fas del-mode-button" (tap)="changeMode('del')"
        style="background-color: {{delModeButtonColor}};">
        <FormattedString>
            <Span [text]="delModeButtonSymbol" fontAttributes="Bold"></Span>
        </FormattedString>
    </Button>
    <Button row="2" col="1" class="-warn -rounded-lg fas mod-mode-button" (tap)="changeMode('mod')"
        style="background-color: {{modModeButtonColor}}; border-color: {{modModeButtonColor}};">
        <FormattedString>
            <Span [text]="modModeButtonSymbol" fontAttributes="Bold"></Span>
        </FormattedString>
    </Button>
    <Button row="2" col="1" class="-primary -rounded-lg fas add-button" (tap)="addPlant()"
        style="background-color: {{addButtonColor}}; border-color: {{addButtonColor}};">
        <FormattedString>
            <Span [text]="addButtonSymbol" fontAttributes="Bold"></Span>
        </FormattedString>
    </Button>


    <Button row="2" col="2" text="Clean" class="-warn -rounded-lg fas del-button" (tap)="clean()">
        <FormattedString>
            <Span text="&#xf2ed;" fontAttributes="Bold"></Span>
        </FormattedString>
    </Button>
    <GridLayout *ngIf="showModBars" row="2" col="0" colspan="3" columns="*,70,10,70,*" rows="70" class="rotate-bar">
        <Button col="1" class="-warn -rounded-lg fas scale-button" (tap)="rotateLeft()">
            <FormattedString>
                <Span text="&#xf01e;" fontAttributes="Bold"></Span>
            </FormattedString>
        </Button>
        <Button col="3" class="-warn -rounded-lg fas scale-button" (tap)="rotateRight()">
            <FormattedString>
                <Span text="&#xf0e2;" fontAttributes="Bold"></Span>
            </FormattedString>
        </Button>
    </GridLayout>
    <GridLayout *ngIf="showModBars" row="2" col="1" columns="*,70,*" rows="70,10,70" class="scale-bar">
        <Button row="0" col="1" class="-warn -rounded-lg fas scale-button" (tap)="scaleUp()">
            <FormattedString>
                <Span text="&#xf102;" fontAttributes="Bold"></Span>
            </FormattedString>
        </Button>
        <Button row="2" col="1" class="-warn -rounded-lg fas scale-button" (tap)="scaleDown()">
            <FormattedString>
                <Span text="&#xf103;" fontAttributes="Bold"></Span>
            </FormattedString>
        </Button>
    </GridLayout>
    <GridLayout *ngIf="placePlantSession" row="2" col="1" columns="150" rows="50" class="place-session">
        <Button row="0" col="0" class="-warn fas place-session-button" (tap)="placePlantsFromSession()">
            <FormattedString>
                <Span text="Place Plants" fontAttributes="Bold"></Span>
            </FormattedString>
        </Button>
    </GridLayout>
</GridLayout>