.fa-brands {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
    color: white;
}
.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
    color: white;
}

button {
    horizontal-align: center;
    height: 150;
    width: 100;
}

.add-button {
    margin-top: 50;
    font-size: 55;
}
.back-button {
    margin-top: -100;
    background-color:  gray;
    padding-bottom: -20;
    margin-bottom: 0;
    font-size: 25;
    height: 100;
    width: 100;
}
.del-button {
    margin-left: 100;
    margin-top: 50;
    background-color:  red;
    font-size: 25;
}
.del-mode-button {
    margin-right: -110;
    margin-bottom: -60;
    font-size: 15;
    height: 50;
    width: 50;
}
.mod-mode-button {
    margin-left: -110;
    margin-bottom: -60;
    font-size: 15;
    height: 50;
    width: 50;
}
.save-button {
    background-color:  green;
    margin-right: 100;
    margin-top: 50;
    font-size: 25;
}
.selected-image {
    border-radius: 0 0 0 300;
    margin-top: -10;
    margin-left: 50;
    height: 700;
    width: 700;
}
.selected-plant-image {
    border-radius: 0 0 0 300;
    margin-top: -10;
    margin-right: 50;
    height: 700;
    width: 700;
}
.img-picker {
    background-color: rgba(128, 128, 128, 0.531);
    margin-top: -5;
    margin-left: 50;
    border-radius: 0 0 0 300;
    height: 700;
    width: 700;
}
.select-picker {
    background-color: rgba(128, 128, 128, 0.531);
    margin-top: -5;
    margin-right: 50;
    border-radius: 0 0 300 0;
    height: 700;
    width: 700;
}
.place-session {
    
    
    margin-top: -150;
}
.place-session-button {
    background-color: rgba(128, 128, 128, 0.814);
    border-color: rgba(128, 128, 128, 0);
    border-radius: 20 20 20 20;
    margin: 0;
}
.rotate-bar {
    margin-top: -110;
}
.scale-bar {
    margin-top: -150;
}
.scale-button {
    background-color:orange;
    font-size: 21;
    height: 47;
    width: 50;
}

