<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PlantAR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid *ngIf="items.length > 0">
    <ion-row>
      <ion-col *ngFor="let column of [1, 2]">
        <div *ngFor="let item of splitByColumn(column)">
          <mdb-card>
            <mdb-card-img src="{{item.imageURL}}"></mdb-card-img>
            <mdb-card-body>
              <mdb-card-title>
                <h4>{{item.name}}</h4>
              </mdb-card-title>
              <mdb-card-text>
                {{item.desc}}
              </mdb-card-text>
            </mdb-card-body>
            <a routerLink="/ar-launcher/{{item.name}}" mdbBtn color="primary" mdbWavesEffect>AR</a>
          </mdb-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
