<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <a routerLink="/home">
        < Zurück
      </a>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <iframe *ngIf="iframeURL" [src]="iframeURL"></iframe>
</ion-content>
